name: Release ruby gem

on:
  push:
    branches:
      - release/*

jobs:
  pre-release-check:
    uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main

  test-ruby:
    uses: ./.github/workflows/test-ruby.yml

  publish-rubygem:
    name: Publish Ruby Gem
    needs: [pre-release-check, test-ruby]
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          working-directory: ruby
      - name: Publish ruby gem
        uses: cucumber/action-publish-rubygem@v1.0.0
        with:
          working_directory: ruby
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
