name: Release NPM

on:
  push:
    branches: [release/*]

permissions:
  id-token: write
  contents: read

jobs:
  pre-release-check:
    uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main
    
  publish-npm:
    name: Publish NPM module
    needs: [pre-release-check]
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.x'
          cache: 'npm'
          cache-dependency-path: javascript/package-lock.json
          registry-url: 'https://registry.npmjs.org'
      - run: npm install-ci-test
        working-directory: javascript
      - run: npm publish
        working-directory: javascript
