name: Release ruby gem

on:
  push:
    branches:
      - release/*

jobs:
  publish-rubygem:
    name: Publish Ruby Gem
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/prepare
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: true
          working-directory: ruby
      - name: Publish ruby gem
        uses: cucumber/action-publish-rubygem@d8918cbdee789cfc78f346a96a59596b87795be1 # v1.0.0
        with:
          working_directory: ruby
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
