name: Release NuGet

on:
  push:
    branches:
      - "release/*"

jobs:
  pre-release-check:
    uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main

  test-dotnet:
    uses: ./.github/workflows/test-dotnet.yml

  publish-nuget:
    name: Publish package to NuGet.org
    needs: [pre-release-check, test-dotnet]
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/prepare
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: 8.0.x
      - uses: cucumber/action-publish-nuget@f059d15b2dbcd962afc0d29424f4f083177255aa # v1.0.0
        with:
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          working-directory: "dotnet"
