name: test-dotnet

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - dotnet/**
      - .github/**
      - Makefile
  pull_request:
    branches:
      - main
    paths:
      - dotnet/**
      - .github/**
      - Makefile
  workflow_call:

jobs:
  test-dotnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/prepare
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: '8.0.x'
      - name: run tests
        run: dotnet test
        working-directory: dotnet
