name: test-javascript

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - javascript/**
      - .github/**
      - Makefile
  pull_request:
    branches:
      - main
    paths:
      - javascript/**
      - .github/**
      - Makefile

jobs:
  test-javascript:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        node-version: [22.x, 24.x]
        include:
          - os: windows-latest
            node-version: 22.x
          - os: macos-latest
            node-version: 22.x

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
        working-directory: javascript
      - run: npm run build
        working-directory: javascript
      - run: npm run lint
        working-directory: javascript
      - run: npm test
        working-directory: javascript

  test-acceptance:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.2-jammy
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
        working-directory: javascript
      - run: npm run build
        working-directory: javascript
      - name: Acceptance tests
        working-directory: javascript
        run: npx playwright test
