name: test-ruby

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - ruby/**
      - .github/**
      - Makefile
  pull_request:
    branches:
      - main
    paths:
      - ruby/**
      - .github/**
      - Makefile
  workflow_call:

jobs:
  test-ruby:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby: ['3.1', '3.2', '3.3', '3.4', '3.5']
        include:
          - os: macos-latest
            ruby: '3.4'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/prepare
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ruby
      - run: bundle exec rake
        working-directory: ruby
